# Local terraform testing files
.terraform
.terraform.lock.hcl
terraform.tfstate*

# Provider binary
terraform-provider-cyral*
out/

# Dependencies
vendor/

# IDEs
.idea/
__debug_bin

# Emacs
*~

# Documentation for depreacated resources
docs/resources/integration_sso_*.md
