---
page_title: "Deploy Native Repository Credentials to AWS Secrets Manager"
---

Use the following code as an example to deploy native repository credentials to
AWS Secrets Manager and also to associate it to a Cyral Repository that can be
later bound to a sidecar.

{{ tffile "examples/guides/native_credentials_aws_sm.tf" }}
