---
page_title: "Setup repo-level policy"
---

In this guide, we will attach repo-level data access policies to PostgreSQL and MySQL data
repositories. After reading the guide, you will understand how to setup repo-level policies
and use Cyral policy templates to control data access.

We recommend that you also read the [Cyral policies](https://cyral.com/docs/policy/overview/)
documentation for more information.

## Prerequisites

Follow [this
guide](https://registry.terraform.io/providers/cyralinc/cyral/latest/docs/guides/setup_cp_and_deploy_sidecar)
to deploy the repositories and the sidecar.

## Table-level access policy

The following example will add a repo-level policy to restrict access to
specific tables in the repositories:

-> **Note** The table-level policy template is only enabled by default in control planes
`v4.13` and later. If you have a previous version, please reach out to our customer success
team to enable it.

{{ tffile "examples/guides/repo_level_policy_table_level.tf" }}

## Next steps

This guide presents a very simple Cyral repo-level policy. Cyral policies have many more
capabilities. Check out all attributes that the policy rule resource supports:
[cyral_policy_rule](https://registry.terraform.io/providers/cyralinc/cyral/latest/docs/resources/policy_rule).
