---
page_title: "Setup repo-level policies"
---

Cyral offers several [policy wizards](https://cyral.com/docs/policy/repo-level/).
  These wizards generate policies for common use cases based on the parameters you provide. The created policies are part of a _policy set_.
  This guide shows how to define policy sets that use these wizards to create policies in Terraform.

Recommended further reading:

-   Refer to the [Cyral policies](https://cyral.com/docs/policy/overview/) page in our public
    docs for a complete documentation about the Cyral policy framework.
-   Refer to the [`cyral_policy_set`](https://registry.terraform.io/providers/cyralinc/cyral/latest/docs/resources/policy_set)
    resource for more details about how to create policy sets in Terraform.

## Example: data firewall

Limit which rows users can read from a table:

{{ tffile "examples/guides/repo_level_policies/data_firewall.tf" }}

## Example: data masking

Mask fields for specific users:

{{ tffile "examples/guides/repo_level_policies/data_masking.tf" }}

## Example: data protection

Protect against unauthorized updates:

{{ tffile "examples/guides/repo_level_policies/data_protection.tf" }}

## Example: rate limit

Set up a threshold on sensitive data reads over time:

{{ tffile "examples/guides/repo_level_policies/rate_limit.tf" }}

## Example: read limit

Prevent certain records from being read beyond a specified limit:

{{ tffile "examples/guides/repo_level_policies/read_limit.tf" }}

## Example: repository protection

Alert when more than a specified number of records are updated or deleted:

{{ tffile "examples/guides/repo_level_policies/repository_protection.tf" }}

## Example: service account abuse

Ensure service accounts can only be used by intended applications:

{{ tffile "examples/guides/repo_level_policies/service_account_abuse.tf" }}

## Example: user segmentation

Limit which rows a set of users can read from your database:

{{ tffile "examples/guides/repo_level_policies/user_segmentation.tf" }}
