---
page_title: "Create an AWS-based sidecar to protect PostgreSQL and MySQL databases"
---

Use the following code to deploy an AWS-based sidecar, a MySQL and a PostgreSQL
repository to your control plane.

By running this example you will have a fully functional sidecar on your AWS
account to protect your database. Read the comments and update the necessary
parameters as instructed.

See also the [Cyral sidecar module for AWS](https://registry.terraform.io/modules/cyralinc/sidecar-aws/cyral/latest)
for more details on how the sidecar is deployed to AWS.

{{ tffile "examples/guides/setup_cp_and_deploy_sidecar.tf" }}

## Accessing the data repositories

To learn how to access a repository through the sidecar, see [Connect to a
repository](https://cyral.com/docs/connect/repo-connect).
