---
page_title: "Create a sidecar and repository in Cyral control plane and bring up the sidecar on AWS"
---

Use the following code to get a basic scenario with sidecar and repository set in the Cyral
control plane and then bring this sidecar up on your AWS account.

By running this example you will have a fully functional sidecar on your AWS account to
protect your database. Read the comments and update the necessary parameters as instructed.

See also the [Cyral sidecar module for AWS](https://registry.terraform.io/modules/cyralinc/sidecar-aws/cyral/latest)
for more details on how the sidecar is deployed to AWS.

{{ tffile "examples/guides/setup_cp_and_deploy_sidecar.tf" }}
