---
page_title: "Using smart ports"
---

Use the following guide to use Smart Ports and bind two different MySQL repositories
to the same sidecar port.

See also the [Smart Ports](https://cyral.com/docs/v4.7/sidecars/sidecar-bind-repo/#smart-ports)
documentation for more details about the feature and the supported repositories.

{{ tffile "examples/guides/smart_ports.tf" }}
