# {{ .Name | trimspace }} ({{ .Type | trimspace }})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/resources/cyral_access_token_settings/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
