# {{ .Name | trimspace }} ({{ .Type | trimspace }})

{{ .Description | trimspace }}

~> If using this resource in conjunction with
`cyral_integration_idp_saml`, please see the note at the beginning of
[cyral_integration_idp_saml](./integration_idp_saml.md).

## Example Usage

{{ tffile "examples/resources/cyral_integration_idp_saml_draft/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
