# {{ .Name | trimspace }} ({{ .Type | trimspace }})

{{ .Description | trimspace }}

-> Import ID syntax is `{policy_set_id}`.

## Example Usage

{{ tffile "examples/resources/cyral_policy_set/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
