# {{ .Name | trimspace }} ({{ .Type | trimspace }})

{{ .Description | trimspace }}

-> **NOTE** Import ID syntax is `{policy_id}/{policy_rule_id}`, where `{policy_rule_id}` is the ID of the policy rule in the Cyral Control Plane.

## Example Usage

{{ tffile "examples/resources/cyral_policy_rule/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
