# {{ .Name | trimspace }} ({{ .Type | trimspace }})

{{ .Description | trimspace }}

-> Import ID syntax is `{category}/{policy_id}`.

## Example Usage

{{ tffile "examples/resources/cyral_rego_policy_instance/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
