# {{ .Name | trimspace }} ({{ .Type | trimspace }})

{{ .Description | trimspace }}

-> Import ID syntax is `{sidecar_id}/{binding_id}`.

## Example Usage

{{ tffile "examples/resources/cyral_repository_binding/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
