# {{ .Name | trimspace }} ({{ .Type | trimspace }})

{{ .Description | trimspace }}

-> **NOTE** Import ID syntax is `{sidecarID}-{repositoryID}`.

## Example Usage

{{ tffile "examples/resources/cyral_repository_binding/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
