# {{ .Name | trimspace }} ({{ .Type | trimspace }})

{{ .Description | trimspace }}

-> **NOTE** Import ID syntax is `{repository_id}/{local_account_id}`, where `{local_account_id}` is the ID of the local account in the Cyral Control Plane.

## Example Usage

### Automatic Approval

{{ tffile "examples/resources/cyral_repository_local_account/resource_automatic_approval.tf" }}

### Different auth schemes

{{ tffile "examples/resources/cyral_repository_local_account/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
