# {{ .Name | trimspace }} ({{ .Type | trimspace }})

{{ .Description | trimspace }}

-> **NOTE** Import ID syntax is `{repository_id}`.

## Example Usage

More complex examples using `cyral_repository` resource are available in the `Guides` section:
* [Create an AWS-based sidecar to protect PostgreSQL and MySQL databases](https://registry.terraform.io/providers/cyralinc/cyral/latest/docs/guides/setup_cp_and_deploy_sidecar)
* [Setup SSO access to MongoDB cluster using Okta IdP](https://registry.terraform.io/providers/cyralinc/cyral/latest/docs/guides/mongodb_cluster_okta_idp)

{{ tffile "examples/resources/cyral_repository/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
