# {{ .Name | trimspace }} ({{ .Type | trimspace }})

{{ .Description | trimspace }}

-> **NOTE** Import ID syntax is `{repository_id}`.

## Example Usage

{{ tffile "examples/resources/cyral_repository_access_gateway/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
