# {{ .Name | trimspace }} ({{ .Type | trimspace }})

{{ .Description | trimspace }}

-> **NOTE** Import ID syntax is `{repository_id}/{identity_type}/{identity_name}/{repository_local_account_id}`.

## Example Usage

{{ tffile "examples/resources/cyral_repository_identity_map/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
